@{
    ViewBag.Title = "About";
}


<!-- Carousel -->
<h1>Några recensioner</h1>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel" data-interval="5000">

    <!-- Carousel Navigation Indicators -->
    <ol class="carousel-indicators" ->
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Carousel Wrappers -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/Images/carousel_img_0b.jpg" class="img-responsive low-brightness">
            <div class="carousel-caption">
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
            </div>
        </div>

        <div class="item">
            <img src="/Images/carousel_img_1b.jpg" class="img-responsive low-brightness">
            <div class="carousel-caption">
                <h1>Ut labore et dolore</h1>
                <p>Magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>

        <div class="item">
            <img src="/Images/carousel_img_2b.jpg" class="img-responsive low-brightness">
            <div class="carousel-caption">
                <h1>Quis nostrud exercitation</h1>
                <p>Ullamco laboris nisi ut aliquip ex ea commodo</p>
            </div>
        </div>
        <div class="item">
            <img src="/Images/carousel_img_3b.jpg" class="img-responsive low-brightness">
            <div class="carousel-caption">
                <h1>Consequat. Duis aute irure dolor </h1>
                <p>In reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
        </div>

        <div class="item">
            <img src="/Images/carousel_img_4b.jpg" class="img-responsive low-brightness">
            <div class="carousel-caption">
                <h1>Eu fugiat nulla pariatur</h1>
                <p>Excepteur sint occaecat cupidatat non proident sunt </p>
            </div>
        </div>

        <div class="item">
            <img src="/Images/carousel_img_5b.jpg" class="img-responsive low-brightness">
            <div class="carousel-caption">
                <h1>In culpa qui officia </h1>
                <p>Deserunt mollit anim id est laborum</p>
            </div>
        </div>
    </div>

    <!-- Navigation, left and right arrow -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>





    <div class="row">
        <div class="heading-title text-center">
            <h3 class="text-uppercase">Our professionals </h3>
            @*<p class="p-top-30 half-txt">some text about ussome text about ussome text about ussome text about ussome text about ussome text about ussome text about ussome text about us. </p>*@
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="team-member">
                <div class="team-img">
                    <img src="~/Content/T42H8QNKW-U4395V0AK-805d34b2cfa3-512.jpg" alt="team member" class="img-responsive img-circle">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Hello World</h4>
                        <p>I love to introduce myself as ...</p>
                    </div>
                    <div class="s-link">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Simon Osterlund</h5>
                <span>C#.Net Developer</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
    <div class="team-member">
        <div class="team-img">
            <img src="~/Content/T42H8QNKW-U438KRVC6-982b06347502-512.jpg" alt="team member" class="img-responsive img-circle">
        </div>
        <div class="team-hover">
            <div class="desk">
                <h4>Hello World</h4>
                <p>I love to introduce myself as ...</p>
            </div>
            <div class="s-link">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="team-title">
        <h5>Robert Andersson</h5>
        <span>C#.Net Developer</span>
    </div>
</div>
        <div class="col-md-3 col-sm-3">
            <div class="team-member">
                <div class="team-img">
                    <img src="~/Content/T42H8QNKW-U41ST0VDW-881209bfd0fa-512.jpg" alt="team member" class="img-responsive img-circle">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Hello World</h4>
                        <p>I love to introduce myself as ...</p>
                    </div>
                    <div class="s-link">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Inam</h5>
                <span>C#.Net Developer</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="team-member">
                <div class="team-img">
                    <img src="~/Content/T42H8QNKW-U42LRRJQM-a1178a200eb1-512.jpg" alt="team member" class="img-responsive img-circle">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4>Hello World</h4>
                        <p>I love to introduce myself as ...</p>
                    </div>
                    <div class="s-link">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Reza Saeb</h5>
                <span>C#.Net Developer</span>
            </div>
        </div>
        
        

    </div>
